.header {
    padding: 20px;
    background: lightblue;
    box-shadow: 0 0 10px 1px grey;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.link {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px grey;
}