.inputFrame {
    margin: 5px;
    padding-bottom: 20px;
    position: relative;
}
.input {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.error {
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
}